    <hr>
    <footer>
        <div class="container">
            <p>2016 &copy; <%= siteName %></p>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/tncboilerplate.min.js"></script>
</body>
</html>
